[Desktop Entry]
Name=PokeMMO
Comment=Multiplayer online game based on the Pokemon universe
Exec=pokemmo
Keywords=game;adventure;MMO;multiplayer;online;fantasy;emulator;pokemon;
Terminal=false
Type=Application
Icon=pokemmo
Categories=Game;AdventureGame;Emulator;RolePlaying;
